# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.Â 

Coding projects: disney project, netflix project, goodreads project

Create a table under your schema called `planned_makes`.

In [6]:
CREATE TABLE JunkDB_STL_may2023.shannon.planned_makes (
    project_id INT PRIMARY KEY IDENTITY (1,1),
    project_name VARCHAR NOT NULL)

Add three rows to your table that are your planned makes.

In [12]:
SET IDENTITY_INSERT JunkDB_STL_may2023.shannon.planned_makes ON
INSERT INTO JunkDB_STL_may2023.shannon.planned_makes (project_id,project_name) VALUES 
(1, 'disney'),
(2, 'netflix'),
(3, 'goodreads')

In [13]:
SELECT * FROM JunkDB_STL_may2023.shannon.planned_makes

project_id,project_name
1,disney
2,netflix
3,goodreads

## Update a Row

Change different values in one of your three rows.

In [14]:
UPDATE shannon.planned_makes
SET project_name = REPLACE(project_name, 'goodreads','hulu')
SELECT * FROM JunkDB_STL_may2023.shannon.planned_makes

project_id,project_name
1,disney
2,netflix
3,hulu

## Delete a Row

Delete one of the rows from your table.

In [15]:
DELETE FROM shannon.planned_makes WHERE project_id=3
SELECT * FROM JunkDB_STL_may2023.shannon.planned_makes

project_id,project_name
1,disney
2,netflix

## Drop the Table

While this has been fun, it is time to drop the table!

In [16]:
DROP TABLE shannon.planned_makes

In [17]:
SELECT * FROM JunkDB_STL_may2023.shannon.planned_makes

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'JunkDB_STL_may2023.shannon.planned_makes'.